<div class="jumbotron" style="margin-top: 3%; text-align: center;">
    <h2 style="font-weight: bold;">Test Details</h2>

    <div class="container" *ngFor="let test of testDetails">
        <h2> {{ test.TestType.Name }} </h2>
        <h3> {{ test.Test.Date | date: 'dd/MM/yyyy' }} </h3>

        <div *ngIf="test.TestType.Name === 'Cooper Test'; then coopertest else sprinttest">
        </div>

        <ng-template #coopertest>
            <table class="table table-striped table-hover" style="margin-top: 5%;">
                <thead>
                    <tr style="font-weight: bold">
                        <td>Ranking</td>
                        <td>Distance(meter)</td>
                        <td>Fitness Rating</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of test.Test.UserTestMappers">
                        <td>
                            <a [routerLink]="['/edit-athlete/', test.TestID, user.UserID]" style="display: block; text-decoration: none;
                            color: black;">{{ user.Users.UserName }}</a>
                        </td>
                        <td>
                            <a [routerLink]="['/edit-athlete/', test.TestID, user.UserID]" style="display: block; text-decoration: none;
                                color: black;">{{ user.CooperTestDistance }}</a>
                        </td>
                        <td>
                            <a [routerLink]="['/edit-athlete/', test.TestID, user.UserID]" style="display: block; text-decoration: none;
                            color: black;">{{ user.FitnessRating }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <a class="btn btn-success"
                               [routerLink]="['/test-details/', test.TestID, 'add-athlete']">Add Athlete To Test</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <button type="submit" class="btn btn-danger"
                                    (click)="deleteTest(test.TestID)">
                                Delete
                                Test
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-template>

        <ng-template #sprinttest>
            <table class="table table-striped table-hover" style="margin-top: 5%;">
                <thead>
                    <tr style="font-weight: bold;">
                        <td>Ranking</td>
                        <td>Time(Seconds)</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of test.Test.UserTestMappers">
                        <td>
                            <a [routerLink]="['/edit-athlete/', test.TestID, user.UserID]" style="display: block; text-decoration: none;
                        color: black;">{{ user.Users.UserName }}</a>
                        </td>
                        <td>
                            <a [routerLink]="['/edit-athlete/', test.TestID, user.UserID]" style="display: block; text-decoration: none;
                            color: black;">{{ user.SprintTestTime }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <a class="btn btn-success"
                               [routerLink]="['/test-details/', test.TestID, 'add-athlete']">Add Athlete To Test</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <button type="submit" class="btn btn-danger"
                                    (click)="deleteTest(test.TestID)">
                                Delete
                                Test
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-template>
    </div>
</div>