
<div class="jumbotron" style="margin-top: 3%; text-align: center;">
    <h3>Create New Test</h3>

    <form #form="ngForm" (submit)="onSubmit()" autocomplete="off" style="margin-top: 5%;">
        <input type="text" name="id" [value]="FormData.id" hidden>

        <div class="form-group">
            <label>Test Date</label>
            <input type="datetime-local" name="date" #date="ngModel" [(ngModel)]="FormData.date"
                   class="form-control" required>
        </div>

        <div class="form-group">
            <label>Test Type</label>
            <select name="testtype" #testtype="ngModel" [(ngModel)]="FormData.testtype" class="form-control"
                    style="margin-bottom: 3%;" required>
                <option value="">--Select--</option>
                <option *ngFor="let test of TestType"> {{ test.Name }} </option>
            </select>
        </div>
        
        <div class="form-group">
            <button class="btn btn-success btn-lg" type="submit" [disabled]="form.invalid">Save</button>
        </div>
        <div class="form-group">
            <a class="btn btn-primary" [routerLink]="['/test-list']">back</a>
        </div>
    </form>
</div>