<div class="jumbotron" style="text-align: center">
    <h3>Edit Athlete</h3>

    <div class="container" *ngIf="IsAvailable">
        <form #form="ngForm" (submit)="UserEdit()">
            <input id="id" name="id" [(ngModel)]="UserDetails.ID" hidden />
            <div class="form-group">
                <label>User Name</label>
                <input class="form-control" id="username" name="username" [(ngModel)]="UserDetails.Name"/>
            </div>
            <div class="form-group">
                <label>User Role</label>
                <select class="form-control" id="role" name="role" [(ngModel)]="UserDetails.Role">
                    <option>Coach</option>
                    <option>Athlete</option>
                </select>
            </div>
            <button type="submit" class="btn btn-success">Save</button>
        </form>
    </div>
</div>